 {%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{%static 'css/team.css' %}">
</head>

<body>
    <section>
        <div class="row">
            <h1>Our Team Members</h1>

        </div>
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/grace.jpeg' %}" />
                    </div>
                    <h3>Grace Pereira</h3>
                    <p> Database  developer</p>
                     <ul style="list-style-type:disc;">
                        <li>I am a Database Developer</li>
                        <!-- <li>
                            To create a website, we need to design and develop software that can display web pages and
                            content to users.
                        </li> -->
                        <li>I work with Firebase, dbsqlite, firestone, mysql, postgres, etc.
                        </li>
                    </ul><br>
                    <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/profile.jpg' %}" />
                    </div>
                    <h3>Bhavika Salvi</h3>
                    <p> Backend developer</p>
                    <ul style="list-style-type:disc;">
                            <li>I am a Software Developer</li>
                            <li>I would be  typically involve working with web technologies such as MongoDB, NodeJs, and Express.
                            </li>
                    </ul>
                    <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/andre.jpg' %}" />
                    </div>
                    <h3>Andre Issaac</h3>
                    <p>Machine Leaning Expert</p>
                    
                    <ul style="list-style-type:disc;">
                            <li>I am a Machine Learning </li>
                            <li>Designing and developing machine learning and deep learning systems</li>
                    </ul>
                        <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/jabir.jpeg' %}" />
                    </div>
                    <h3>Jabir Khan</h3>
                    <p> Software developer</p>
                     <ul style="list-style-type:disc;">
                        <li>I am a Software Developer</li>
                        <!-- <li>
                            To create a website, we need to design and develop software that can display web pages and
                            content to users.
                        </li> -->
                        <li>I would be  typically involve working with web technologies such as HTML, CSS, and JavaScript
                        </li>
                    </ul><br>
                    <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/meet.jpeg' %}" />
                    </div>
                    <h3>Meet Satra</h3>
                    <p> Fronted developer</p>
                    <ul style="list-style-type:disc;">
                            <li>I am a Software Developer</li>
                            <li>I would be  typically involve working with web technologies such as MongoDB, NodeJs, and Express.
                            </li>
                    </ul>
                    <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="{% static 'img/Team/shubham.jpeg' %}" />
                    </div>
                    <h3>Shubham Sonar</h3>
                    <p> Fronted developer</p>
                    <ul style="list-style-type:disc;">
                            <li>I am a Software Developer</li>
                            <li>I would be  typically involve working with web technologies such as MongoDB, NodeJs, and Express.
                            </li>
                    </ul>
                    <div class="icons">
                        <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/shubham-sonar-b388a5236/"><i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="https://github.com/"><i class="fa-brands fa-github"></i>
                        </a>
                        <!-- <a href="#"><i class="fa-brands fa-"></i>
                        </a> -->
                    </div>
                </div>
            </div>

    </section>

    <footer class="footer">
        <div class="footer__body w-105">
            <nav class="footer__nav">
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">COMPANY</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">About Us</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Team</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Careers</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="/contact" class="footer_nav__link">Contact</a>
                    </li>
                </ul>
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">INVEST</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Features</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">How it works</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Pricing</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Login</a>
                    </li>
                </ul>
                <ul class="footer_nav__menu">
                    <li class="footer_nav__item">
                        <h4 class="footer_nav__menu__title">LEGAL</h4>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Privacy</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Terms</a>
                    </li>
                    <li class="footer_nav__item">
                        <a href="#" class="footer_nav__link">Security</a>
                    </li>
                </ul>
            </nav>
            <div class="footer__contact">
                <h5 class="footer__contact__title">Blog Zou</h5>
                <span>Write email to us</span>
                <a href="mailto:info@zoufarm.com" class="email">info@zoufarm.com</a>
                <a href="#" class="btn btn__signin">
                    <i class="far fa-user"></i> Team details
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom__content w-105">
                <div class="footer__logo">
                </div>
                <p class="footer_copyright">
                    © Copyright 2023. Zou Capital Pty Ltd (ABN 45 4545 87363).
                </p>
            </div>
            <img src="{% static 'img/mountain.png' %}" alt="Mountain" class="footer_img">
        </div>
    </footer>
    </div>
    <script src="{% static 'js/main.js' %}" type="module"></script>
</body>

</html>